.main-container {
  height: 100vh;
  background-color: #ecf0f1;
  text-align: center;
}

.wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  height: 30em;
  transform: translate(-50%, -50%);
}

.logo {
  margin-bottom: 3em;

  img {
    height: 22em;
  }
}
